<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Image Uploading</title>
	</head>

	<body>
		<h1>Uploaded Images</h1>
		<div>
			<% items.forEach(function(form) { %>
			<div>
				<div>
					<img
						src="data:image/<%=form.img.contentType%>;base64,
                     <%=form.img.data.toString('base64')%>"
						width="100" />
					<div>
						<h5>Name: <%= form.name %></h5>
						<h5>Phone: <%= form.phone %></h5>
						<h5>Email: <%= form.email %></h5>
						<h5>Registration Number: <%= form["registration-number"] %></h5>
						<h5>Address: <%= form.address %></h5>
						<h5>Gender: <%= form.gender %></h5>
						<h5>Qualification: <%= form.qualification %></h5>
						<h5>Payment Details: {</h5>
						<h5>Amount: <%= form.payment.amount %></h5>
						<h5>Status: Payment Successful</h5>
						<h5>Transaction Id: <%= form.payment.txnid %> }</h5>
					</div>
				</div>
				<hr />
			</div>
			<% }) %>
		</div>
	</body>
</html>
