<%- include('./partials/head.ejs') %>

<section class="section-padding services">
	<div class="container">
		<div class="alert alert-success" role="alert">
			<center>
				<h1 class="alert-heading"><%= data.message %></h1>
				<hr />
				<h4>Jazakallahu Fiddarain</h4>
				<h4>
					Your payment is successfully registered at Sawad-E-Azam. <br />
					<hr />
					Transaction Details: <br /><br />
				</h4>
				<h5>
					<b>Name: </b> <%= data.name %> <br /><br />
					<b>Phone: </b> <%= data.phone %> <br /><br />
					<b>Amount: Rs.</b> <%= data.amount %> <br /><br />
					<b>Merchant Transaction Id:</b> <%= data.merchantTransactionId %> <br /><br />
					<b>Transaction Id:</b> <%= data.transactionId %> <br /><br />
					<b>Payment Type:</b> <%= data.imdadType %> <br />
					<br />
					<b>Date & Time:</b><%= data.updatedAt %>
				</h5>
			</center>
			<br />
			<hr />
			<p>Note: Save the details for future references</p>
		</div>
	</div>
</section>

<%- include('./partials/bottom.ejs') %>
