<%- include('./partials/head.ejs') %>
<script
        src="https://ebz-static.s3.ap-south-1.amazonaws.com/easecheckout/easebuzz-checkout.js"></script> 
<section class="section-padding services">
  <div class="container card" style="padding: 2rem;">
    <h2>صُفّہ آنلائن مقالہ نگاری مقابلہ: رجسٹریشن فارم <br>Suffa Online Essay Competition: Registration Form</h2>
     <p> <b>اہتمام: 
      
      بزم اصحاب صفہ، مجلس محمدی، سوادِ اعظم انٹرنیشنل کونسل آف انڈینز، قاضى پور، شاہجہانپور، اتر پردیش ، ہند
      <br>Organised by: Bazme As'haabe Suffa of Majlise Muhammadi, Sawade Azam, Qazipur, Shahjahanpur, UP, India. <br>
    </b>
    </p>
<hr>
<br>
    <form method="POST" 
    <% if(data.code === "PAYMENT_SUCCESS") { %>

      action="/registraion-upload" 
      enctype="multipart/form-data" >
      
    <% } else{ %>

      action="pe/pay" 
      enctype="application/x-www-form-urlencoded" >

    <% } %>
    <center>
    <div class="row">

      <div class="form-group col" style="margin:auto ;">
        <b><label for="gender">صنف / Gender
        </label></b>
        <div class="form-check">
          <input type="radio" class="form-check-input" id="male" name="gender" value="male">
          <label class="form-check-label" for="male">Male/مذکر</label>
        </div>
        <div class="form-check">
          <input type="radio" class="form-check-input" id="female" name="gender" value="female">
          <label class="form-check-label" for="female">Female/مونث
          </label>
        </div>
      </div>

      <div class="form-group col" style="margin:auto ;">
        <b>><label for="gender">تعلیم / Qualification
        </label></b>
        <div class="form-check">
          <input type="radio" class="form-check-input" id="student" name="qualification" value="student">
          <label class="form-check-label" for="student">Student/طالب علم ہیں۔
          </label>
        </div>

        <div class="form-check">
          <input type="radio" class="form-check-input" id="completedEducation" name="qualification" value="completedEducation">
          <label class="form-check-label" for="completedEducation">Completed education/تعلیم مکمل ہو چکی۔
          </label>
        </div>
      </div>
      
    </div>
  </center><br>
  <div class="form-group">
    <label for="contact">رابطہ نمبر / Contact Number [10 digit Indian Number]
      </label>
    <input type="tel" class="form-control" name="phone" id="phone" required pattern="\d{10}" placeholder="0123456789" value=<%= data.phone %> >
    <div class="invalid-feedback">
      Please enter a 10 digit phone number.
    </div>        
  </div>

  <% if(data.code === "PAYMENT_SUCCESS"){ %>


    <div class="alert alert-success d-flex align-items-center" role="alert">
      <svg xmlns="http://www.w3.org/2000/svg" class="bi small-icon bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" width="15" height="15" aria-label="Success:">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
      </svg>
      <div>
        Payment Successful
      </div>
    </div>
    <% } else if(data.code === "PAYMENT_ERROR"){ %>
      <div class="alert alert-danger d-flex align-items-center" role="alert">
        <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
          <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </svg>
        <div>
          Payment Failed
        </div>
      </div>
    <% } else { %>
      <br>
      <center>
      <div class="form-group row" >
        <label for="" class="col-lg-12"><b>Pay registration fees Rs.200:</b> </label>
        <div class="col-lg-12">
        <button class="btn btn-success" onclick="initiatePayment()"> <span> </span>Pay Rs.200</button>
        </div>
      </div> 
    </center>
    <% } %>


    <br>
      <div class="form-group">
        <label for="name">نام / Name
          </label>
        <input type="text" class="form-control" id="first_name" placeholder="Name" name="name"  <% if(data.code === "PAYMENT_SUCCESS"){ %> required <% } %> minlength="3" value=<%= data.firstname %> >
        <div class="invalid-feedback">
          Please enter a name with at least 3 characters.
        </div>
      </div>
    
      

      <div class="form-group">
        <label for="email">  ای میل ایڈریس/ E-Mail Address </label>
        <input type="email" class="form-control" name="email" id="email" placeholder="example@mail.com" value=<%= data.email %>  <% if(data.code === "PAYMENT_SUCCESS"){ %> required <% } %>>   
        <div class="invalid-feedback">
          Please enter a valid email address.
        </div>
        <input type="hidden" class="form-control" name="amount" id="amount" value="200.00">
				<input type="hidden" class="form-control" id="formType" name="formType" value="suffaForm" />
        <input type="hidden" id="txnid" class="txnid" name="txnid" >
        <input type="hidden" id="registration" class="txnid" name="registration" >
        <!--<input type="hidden" id="productinfo" class="productinfo" name="productinfo" value="suffa-essay-competetion">
        <input type="hidden" id="surl" class="surl" name="surl" value="https://sawadeazam.org/pay/response">
        <input type="hidden" id="furl" class="furl" name="furl" value="https://sawadeazam.org/pay/response">
        <input type="hidden" name="easepayid" id="easepayid" value="<%= data.easepayid %>"> -->
     
      </div>

      <div class="form-group">
        <label for="address">پتا / Address
          </label>
        <textarea class="form-control" id="address" name="address" rows="2" minlength="10" placeholder="village / city , district, state" <% if(data.code === "PAYMENT_SUCCESS"){ %> required <% } %> ></textarea>
        <div class="invalid-feedback">
          Please enter an address with at least 10 characters.
        </div>
      </div>

      <div class="form-group">
        <label for="topic">Topics of Articles</label>
        <select class="form-control" id=" topic" name="  topic">
        <% var topics = [
       ' Tawheed and the Companions/ توحیدِ الہی اور صحابہ '

        , 'Love of Allah and the Companions/ عشقِ الہی اور صحابہ'
        , 'The Greatness of Prophethood ﷺ and the Companions/ عظمتِ رسالت ﷺ اور صحابہ'
        
        , 'The love of the أهل البيت in the light of the Quran and Hadith/ مودتِ اہل بیت قرآن و حدیث کی روشنی میں'
        
        , 'The map of Islam in the era of Prophethood[ﷺ]  / دورِ رسالت ﷺ میں اسلام کا نقشہ'
        
        , 'Islam and the Saints of Allah and the objectives of their relationship/ اسلام اور اولیا اللہ اور اولیا سے تعلق کے مقاصد'
        
        , 'Introduction to the Scholars of Islam/ علماءِ اسلام کا تعارف'
        
        , 'The concept of Sufism in Islam/ اسلام میں پیری مریدی کا تصور'
        
        , 'The rights of the scholars on the Ummah/ امت پر علما کے حقوق'
        
        , 'Social responsibilities of scholars/ علما کی معاشرتی ذمہ داریاں'
        
        , 'Dars/e/Nizami and current affairs/ درسِ نظامی اور حالاتِ حاضرہ'
        
        , 'Modern students and the teachings of Islam/ ماڈرن طالبہ وطالبات اور تعلیماتِ اسلام'
        
        , 'Steps taken by scholars to prevent apostasy/ فتنہ ارتداد کے انسداد میں علما کے اقدامات'
        
        , 'Factors and causes of preaching in the public/ عوام میں تبلیغِ دین کے عوامل وأسباب'
        
        , 'Scholars and economy and economic conditions/ علما اور معاشیات و معاشی حالات'
        
        , 'Rights of Muslims on each other/ مسلمانوں کے ایک دوسرے پر حقوق'
        
        , 'Islam and modern science/ اسلام اور جدید سائنس'
        
        , 'Islam and Western civilization/ اسلام اور مغربی تہذیب'
        
        , 'Islam and economics/ اسلام اور معاشیات'
        
        , 'Islam and politics/ اسلام اور سیاست'
        
        , 'Islam and education/ اسلام اور تعلیم'
        
        , 'Islam and ethics/ اسلام اور اخلاقیات'
        
        , 'Islam and family/ اسلام اور خاندان'
        
        , 'Islam and environment/ اسلام اور ماحولیات'
        
        , 'Islam and fine arts/ اسلام اور فنون لطیفہ'
        ]; 
        
       
        for(var i = 0; i < topics.length; i++) { %>
        
          <option value="<%= topics[i] %>">
            <%= topics[i] %>
          </option>
        
        <% } %>

      </select>
      </div>
       <!-- ------------------------------------------------------------------- -->
        <!-- <div class="optional-data" hidden>

            <div class="form-field">
                <label for="udf1">UDF1</label>
                <input type="hidden" id="udf1" class="udf1" name="udf1" value="" placeholder="User description1">
            </div>
        
            <div class="form-field">
                <label for="udf2">UDF2</label>
                <input type="hidden" id="udf2" class="udf2" name="udf2" value="" placeholder="User description2">
            </div>
    
            <div class="form-field">
                <label for="udf3">UDF3</label>
                <input type="hidden" id="udf3" class="udf3" name="udf3" value="" placeholder="User description3">
            </div>
    
            <div class="form-field">
                <label for="udf4">UDF4</label>
                <input type="hidden" id="udf4" class="udf4" name="udf4" value="" placeholder="User description4">
            </div>
    
            <div class="form-field">
                <label for="udf5">UDF5</label>
                <input type="hidden" id="udf5" class="udf5" name="udf5" value="" placeholder="User description5">
            </div>
            <div class="form-field">
                <label for="address1">Address 1</label>
                <input id="address1" class="address1" name="address1" value="" placeholder="#250, Main 5th cross,">
            </div>
    
            <div class="form-field">
                <label for="address2">Address 2</label>
                <input id="address2" class="address2" name="address2" value="" placeholder="Saket nagar, Pune">
            </div>
            
            <div class="form-field">
                <label for="city">City</label>
                <input id="city" class="city" name="city" value="" placeholder="Pune">
            </div>
    
            <div class="form-field">
                <label for="state">State</label>
                <input id="state" class="state" name="state" value="" placeholder="Maharashtra">
            </div>
    
            <div class="form-field">
                <label for="country">Country</label>
                <input id="country" class="country" name="country" value="" placeholder="India">
            </div>
            
            <div class="form-field">
                <label for="zipcode">Zip-Code</label>
                <input id="zipcode" class="zipcode" name="zipcode" value="" placeholder="123456">
            </div>

                <div class="form-field">
                <label for="sub_merchant_id">Sub-Merchant ID</label>
                <input id="sub_merchant_id" class="sub_merchant_id" name="sub_merchant_id" value="" placeholder="123456">
            </div>

              <div class="form-field">
                <label for="unique_id">Unique Id</label>
                <input id="unique_id" class="unique_id" name="unique_id" value="" placeholder="Customer unique Id">
            </div>

              <div class="form-field">
                <label for="split_payments">Split payment</label>
                <input id="split_payments" class="split_payments" name="split_payments" value="" placeholder='{ "axisaccount" : 100, "hdfcaccount" : 100}'>
            </div>
            <div class="form-field">
                <label for="customer_authentication_id">Customer Authentication ID</label>
                <input id="customer_authentication_id" class="customer_authentication_id" name="customer_authentication_id" value="" placeholder='customer authentication number'>
            </div>

            <!-- <input id="udf6"  type='hidden' class="udf6" name="udf6" value="" placeholder="User description6">
            <input id="udf7"  type='hidden' class="udf7" name="udf7" value="" placeholder="User description7">
            <input id="udf8"  type='hidden' class="udf8" name="udf8" value="" placeholder="User description8">
            <input id="udf9"  type='hidden' class="udf9" name="udf9" value="" placeholder="User description9">
            <input id="udf10"  type='hidden' class="udf10" name="udf10" value="" placeholder="User description10"> -->

        <!-- </div> --> 

      <!-- --------------------------------------------------------------------- -->
      
      <div class="form-group">
        <label for="photo">فوٹو / Photo</label>
        <input type="file" class="form-control-file" name="photo" id="photo" accept="image/*"  <% if(data.code === "PAYMENT_SUCCESS"){ %> required <% } %>>
      </div>
      
      
      
      
      <hr>
        <center class="">
      <button type="submit" class="btn btn-primary btn-lg" 

        <% if(data.code === "PAYMENT_SUCCESS"){ %>
      
        <%}else{%>
          disabled
          <%}%>
      >Submit</button>
       </center>
    </form>
  </div>
</div>
</section>
 <!-- Competetion rules section starts -->
<section class="section-padding">
  <div class="container">

    <div class="card" >
     
      <div class="card-body services-item services-content">
        <h4 class="card-title section-title wow flipInX" style="padding: 0 0 0 0 !important;">اہتمام: بزم اصحاب صفہ، مجلس محمدی، سوادِ اعظم انٹرنیشنل کونسل
          آف انڈینز، قاضى پور، شاہجہانپور، اتر پردیش ، ہند
         <br>Organised by: Bazme As'haabe Suffa of Majlise Muhammadi, Sawade Azam, Qazipur, Shahjahanpur, UP, India.</h4><hr>
        <p class="card-text medium-content">
          <b>Contact: +91 7300864998 <br>
          Support Email /  ای میل آئی ڈی : suffa@sawadeazam.org <br></b><br>
          <b>مقصد:  </b>
          اس مقابلہ کا مقصد نوجوانوں میں قلمی صلاحیتوں کو فروغ دینا اور انہیں اسلامی موضوعات پر اپنے خیالات کا اظہار کرنے کا موقع فراہم کرنا ہے۔
          رجسٹریشن فیس: ₹200
          اہلیت: یہ مقابلہ تمام ہندوستانی علما، طلباء، عالمات وطالبات کے لیے کھلا ہے۔
          لفظوں کی حد:
          کم از کم (۲۰۰۰) الفاظ
          زیادہ سے زیادہ (۵۰۰۰) الفاظ
          جائزہ:
          مقابلہ میں شرکت کے لیے رجسٹریشن ضروری ہے۔
          رجسٹریشن فیس ₹200 ہے، جو آن لائن ادا کی جا سکتی ہے۔
          مقالہ اردو، عربی یا انگریزی زبان میں ہونا چاہیے اور اس میں کوئی غلطی یا نقل نہیں ہونی چاہیے۔
          ججوں کا فیصلہ حتمی ہوگا۔
          <br><br>
          <b>Objective:</b>
          The objective of this competition is to promote writing skills among youth and provide them an opportunity to express their thoughts on Islamic topics.
          Registration Fee: ₹200
          Eligibility:
          This competition is open to all Indian scholars, students, female scholars and female students.
          Word Limit:
          Minimum (2000) words
          Maximum (5000) words
          Judging:
          Registration is required to participate in the competition.
          The registration fee is ₹200, which can be paid online.
          The essay should be in Urdu, Arabic or English language and should not contain any errors or plagiarism.
          The judges' decision will be final.
        </p>
      </div>
     
      
    </div>

    
  </div>
</section>
 <!-- Competetion rules section ends -->
<%- include('./partials/bottom.ejs') %>
